<html>
    <head>
        <title>Yelp Camp</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        
        <script src="https://use.fontawesome.com/4daf166e72.js"></script>

        <style type="text/css">
            .right-button {
                float: right
            }

            @media screen and (max-width : 380px) {
                .right-button {
                    float: left
                }
            }

            .login-card-wide.mdl-card {
                width: 470px;
            }
            .login-card-wide > .mdl-card__title {
                color: #fff;
                height: 176px;
                background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
            }
            .login-card-wide > .mdl-card__menu {
                color: #fff;
            }
            .register-card-wide.mdl-card {
                width: 450px;
             }
            .register-card-wide > .mdl-card__title {
                color: #fff;
                height: 176px;
                background: url('http://www.guoguiyan.com/data/out/124/69763020-material-wallpapers.png') center / cover;
            }
            .register-card-wide > .mdl-card__menu {
                color: #fff;
            }
            .register-card-wide > .mdl-card__supporting-text {
                padding: 5px;
            }
            
        </style>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    
    </head>
    <body style="background: url('https://images8.alphacoders.com/679/679478.jpg'); background-size:cover; background-attachment: fixed; background-repeat:no-repeat">
    <!--  -->
    <!-- -->